@import url("./reset.css");

body {
    display:grid;
    grid-template-columns: auto;
    align-content:first baseline;
    gap: 10px;
    margin: 25px;
    color: white;
    text-align: center;
}

header {
    background-color: purple;
    font-size: 1.5rem;
    padding: .25rem;
    border-radius: 10px; 
}

.asideTop {
    background-color: rgb(16, 87, 131);
    font-size: 1.5rem;
    padding: .25rem;
    border-radius: 10px;
}

main {
    background-color: mediumseagreen;
    border-radius: 10px;
}

article {
    background-color: rgb(199, 21, 104);
    padding: 1rem;
    margin: 10px 25px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.article-label {
  display: none;
  font-size: 1.5rem;
}

.asideBottom {
    background-color: lightskyblue;
    font-size: 1.5rem;
    padding: .25rem;
    border-radius: 10px;
}

footer {
    background-color: rgb(238, 90, 36);
    font-size: 1.5rem;
    padding: .25rem;
    border-radius: 10px;
}

@media (min-width: 768px) {

body {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
    "header header header"
    "asideTop main asideBottom"
    "footer footer footer"; 
}   

header {
    grid-area: header;  
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
    gap: 10px;
    align-items: self-end;
}

.article-label {
    display: block;
    grid-column: 2;
}

article {
    grid-column: auto;
    grid-row: 2;
    align-items: end;
    height: 200px;
    place-items: center;
}

footer {
    grid-area: footer;
}

/* TOOK THE LONGEST TIME TO FIGURE THIS CODE BELOW and ended up needing
chatgpt help, could not put these in the right place at all. Had the right
place-items, but did not realize I had to go back and make them all
display: grid; */ 
header, .asideTop, .asideBottom, footer {
    display: grid;         
    place-items: center;    
}
}